# Editor configuration, see https://editorconfig.org
root = true

[*]
charset = utf-8
indent_style = space
indent_size = 4
trim_trailing_whitespace = true

[*.{html,css,scss,ts,tsx}]
indent_size = 2

[*.{py,ts,tsx}]
quote_type = double

[*.md]
max_line_length = off
trim_trailing_whitespace = false
